/* .locationList{
    background: red;
}
 */


/* @media: esto es media query y lo que digo es que : se va a aplicar las prop que defino 
adentro cuando el ancho sea hasta 64 em */


    .locationList{
        height: 85vh;
        overflow: auto;
    }

@media (max-width:75em){
    .locationList{
    /*     background: green; */
        max-height: 40vh;
        overflow: auto;
     
    }
}

.forecast-title{
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
 }